@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sporting-grotesque: var(--font-sporting-grotesque);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --font-sporting-grotesque: 'Sporting Grotesque', sans-serif;
}

body {
  font-family: var(--font-sporting-grotesque);
}

body {
  background: var(--background);
  color: var(--foreground);
}
